html {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;

    background: url(./images/bg-hero-mobile.svg) no-repeat;
    background-size: contain;
    
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 300;
}

button {
    font-weight: 700;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1rem 4rem 1rem;
}

header a {
    text-decoration: none;
}
.header-logo {
    width: 60%;
}

.header-button {
    background-color: white;

    color: black;
    text-transform: capitalize;

    padding: 0.5em 2em;

    border-radius: 15px;
    box-shadow: 0 3px 10px #808d99;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
}

section {
    max-width: 100vw;
}

.intro-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro-section .text-content {
    padding: 0 10%;
    margin-bottom: 55px;
}

.text-content h1 {
    padding: 0 10px 25px 10px;
    line-height: 1.75;
}

.text-content p {
    margin-bottom: 45px;
}

.start-button {
    background-color: #ff52bf;
    color: white;
    padding: 1.2em 3.5em;
    border-radius: 5em;
    width: 75%;
    min-width: 200px;
    max-width: 350px;
}

section img {
    width: 80%;
    margin: 0 auto;
}

.features-section, .commit-section {
    background-color: white;
    text-align: center;
    padding: 60px 6vw 2rem 6vw;
}

.features-section .feature, .commit-section  {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 40px;
    padding: 3em 0 2em;
    
    border-radius: 1em;
    box-shadow: 0 3px 10px #808d99;

}

.commit-section {
    margin: 50px auto;
    width: 90%;
}

.commit-section h2 {
    font-size: 1.125rem;
    padding: 0 5%;
}

.commit-section .start-button {
    margin-top: 35px;
}

.feature-title {
    margin-top: 35px;
}

.feature-content {
    padding: 0 5%;
    font-size: 1rem;
    color: slategrey;
}
